<header class="page-header">
<h1>Product Dashboard</h1>
</header>

<ul class="list-group">
  <li class= "list-group-item">
   <span class="badge"><%= @product_num %></span>
   Products
  </li>
  <li class= "list-group-item">
  <span class="badge"><%= @category_num %></span>
  Products
 </li>
 </ul>
  