// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.user_auth a {
  color: #43aa8b;
  font-weight: 500;
  text-decoration: none;
}

.user_auth a:hover {
  color: #f9c74f;
}
